.searchbox {
    position: absolute;
    width: 400px;
    height: 50px;
    left: 489px;
    top: 305px;
    font-weight: bold;
    color: #050417;
    line-height: normal;
    font-size: 14px;
    background: #FFFFFF;
    border-radius: 4px;
    text-indent: 3mm;
}



.sBtn {
    position: absolute;
    width: 246px;
    height: 50px;
    left: 567px;
    top: 501px;
    background: #2A2B8D;
    border-radius: 25px;
    border: none;
    font-family: Open Sans;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #FFFFFF;
}